/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary-color: #ffffff ;
    --bg-lightblue:#b4d0e7 ;
    --btn-blue:#0061ff ;
    --black-color:#000000 ;
    --lightgrey-color:#fbfbfb ;
    --lightgreen-box:#a2d39b ;
    --blue-box:#0093ce ;
    --red-box:#ff1c1c ;
    --blach-cherry-box:#61082b ;
    --cherry-box:#d5001f ;
    --dark-blue-box:#0d2481 ;
    --banana-box:#ffd830 ;
    --lightgrey-box:#f5f5f5 ;
    

}
body{
    font-family: 'Noto Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.debug{
    border: 1px solid black;
}

.mg-bottom{
    margin-bottom: 80px;
}

.d-flex{
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}

.button-login{
    padding: 2px 10px;
}
 .button{
    padding: 8px 20px;
 }
.btn-blue{
    background-color: var(--btn-blue);
    color: var(--primary-color);
}
/* Header */

header{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--lightgrey-box);
    
}

.home{
    height: 60px;
    width: 30%;
    justify-content: space-around;
}
.bar-client{
    width: 30%;
    justify-content: space-around;

}
/*  */

/* Main */
main{
    padding-top: 60px;
}
#jumbotron{
    background-color: var(--bg-lightblue);
    padding-top: 50px;
    height: 680px;
}
#trial{
    background-color: var(--bg-lightblue);
}

h1{
    font-size: 4.5rem;
    font-weight: 900;
}
h2{

}
h3{

}
.jumbo-body{
    align-items: flex-start;
}
.jumbo-title{
    padding-bottom: 80px;
}
.jumbo-text{
    width: 30%;
}
.jumbo-img{
    width: 70%;
}
.jumbo-img img{
    max-width: 90%;
}
.jumbo-text p{
    padding-bottom: 40px;
}
.free-trial{
    padding-bottom: 50px;
}
.jumbo-text i{
    font-size: 3rem;
}

/*  */

/* Footer */
footer{
    background-color: var(--black-color);
    color: var(--primary-color);
}

/*  */