/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root{
    --primary-color: #ffffff ;
    --bg-lightblue:#b4d0e7 ;
    --btn-blue:#0061ff ;
    --black-color:#000000 ;
    --lightgrey-color:#fbfbfb ;
    --lightgreen-box:#a2d39b ;
    --blue-box:#0093ce ;
    --red-box:#ff1c1c ;
    --blach-cherry-box:#61082b ;
    --cherry-box:#d5001f ;
    --dark-blue-box:#0d2481 ;
    --banana-box:#ffd830 ;
    --lightgrey-box:#f5f5f5 ;
    --grey-cards:#d0d0d3;
    

}
body{
    font-family: 'Noto Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
i{
    padding-right: 8px;
    color: var(--black-color);
}

.mg-bottom{
    margin-bottom: 100px;
}

.d-flex{
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}
.inline{
    display: flex;
}
.d-stretch{
    align-items: stretch;
}
.button-login{
    padding: 2px 10px;
}
.button{
    padding: 8px 20px;
}
.btn-blue{
    background-color: var(--btn-blue);
    color: var(--primary-color);
}
.btn-white{
    background-color: var(--lightgrey-box);
    border: 2px solid var(--grey-cards);   
}

/* Header */

header{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--lightgrey-box);
    
}

.home{
    height: 60px;
    width: 30%;
    justify-content: space-around;
}
.bar-client{
    height: 60px;
    width: 30%;
    justify-content: space-around;

}
/*  */

/* Main */
main{
    padding-top: 60px;
}
#jumbotron{
    background-color: var(--bg-lightblue);
    padding-top: 50px;

}
#trial{
    background-color: var(--bg-lightblue);
}

h1{
    font-size: 4.5rem;
    font-weight: 900;
}
h2{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
    padding-bottom: 20px;
}
h5{
    font-size: 1rem;
    padding-top: 80px;
}
.grey{
    color: var(--grey-cards);
}

/* Jumbo class */

.jumbo-body{
    align-items: flex-start;
}
.jumbo-title{
    padding-bottom: 80px;
}
.jumbo-text{
    width: 30%;
}
.jumbo-img{
    width: 70%;
    position: relative;
}
.jumbo-img img{
    max-width: 90%;
    position: absolute;
}
.jumbo-text p{
    padding-bottom: 40px;
}
.free-trial{
    padding-bottom: 50px;
}
.jumbo-text i{
    font-size: 3rem;
}

/* Plans class */

.choose-plan{
    padding-top: 100px;
    padding-bottom: 40px;
}
.card-checkbox{
    padding: 40px 0;
    gap: 30px;
}
.card{
    border: 2px solid var(--grey-cards);
    width: calc(100% / 3);
}
.body-card{
    padding: 35px 30px;
}
.body-card ul{
    padding: 40px 0;
}

.body-card li{
    padding: 10px 0;
}
.border{
    padding-bottom: 40px;
    border-bottom: 2px solid var(--grey-cards);
}
.space-card a{
    text-decoration:underline;
    color: var(--blue-box);
}
.space-card{
    padding-top: 40px;
}
.cards-container{
    gap: 40px;
}
.title-card{
    text-align: center;
    border-bottom: 2px solid var(--grey-cards);
    padding: 5px 0;
}
.true-green{
    font-weight: bold;
    color: var(--btn-blue);
    font-size: 1.2rem;
}


.body-card{
    justify-content: space-between;
}
/* End cards - Start Enterprise */
.enterprise{
    border: 2px solid var(--grey-cards);
}
.text-body{
    width: 70%;
}
.btn-body{
    width: 25%;
}
.text-body span{
    font-weight: bold;
}
.text-body p{
    padding-top: 50px;
}

/* Parners class */
.img-partners img{
    width: 100%;
}
.img-partners{
    width: 65%;
}
.text-partners{
    width: 35%;
    padding:50px;
}
.text-partners h3,p{
    padding-bottom: 2rem;
}

/* Dropbox business section */

.center-card h2{

}
.box{
    width: calc((100% / 3) - 50px);
}
.box img{
    width: 100%;
}
.box h3{
    padding-bottom: 15px;
}
.wrapped-cards{
    flex-wrap: wrap;
    gap: 75px;
    padding-top: 50px;
}

/* Clients class */

.wrapped-teams h2{
    width: 50%;
    padding-bottom: 50px;
}
.wrapped-teams a{
    text-decoration: underline;
    color: var(--btn-blue);
}

/* Logos Section */


.logo-box{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.square{
    width:50%;
    height: 50%;   
    display: flex; 
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.square img{
    width: 100%;
    filter: invert(100%);
}
.central-square{
    height: 100%;
    padding: 50px;
}
.central-square img{
    padding-bottom: 50px;
    border-bottom: 2px solid var(--grey-cards);
    width: 40%;
}
.square a{
    width: 50%;
}

.flex-square{
    display: flex;
    flex-flow: row wrap;;
}
.text-central{
    padding-top: 50px;
    overflow: auto
}

    /* Logos background */
.lightgreen-box{
    background-color: var(--lightgreen-box);
}
.blue-box{
    background-color: var(--blue-box);
}
.red-box{
    background-color: var(--red-box)
}
.black-cherry-box{
    background-color: var(--blach-cherry-box);
}
.cherry-box{
    background-color: var(--cherry-box);
}
.dark-blue-box{
    background-color: var(--dark-blue-box);
}
.banana-box{
    background-color: var(--banana-box);
}
.lightgrey-box{
    background-color: var(--lightgrey-box);
}
.lightblue-box{
    background-color: var(--bg-lightblue);
}   

/* Trial Class */

.try-free h2{
    color: var(--blach-cherry-box);
}
.try-free{
    padding: 100px 0;
    justify-content: space-between;
    align-items: start;
    align-content: center;
}
.title-trial{
    width: 45%;
}

/* Faq sectioon */

.list-faq h2{
    padding-bottom: 50px;
}
.questions{
    padding: 30px 5px;
}
.questions span{
    font-weight: bold;
}

/*  */

/* Footer */
footer{
    background-color: var(--black-color);
    color: var(--primary-color);
}
.link{
    padding: 60px 0;
}
.list-link h3{
    padding-bottom: 20px;
}
.list-link li{
    line-height: 1.8rem;
    font-size: 0.7rem;
}
.list-link a{
    color: var(--primary-color);
}
.choose-leng{
    border-top: 2px solid var(--primary-color);
    width: 10%;
    padding: 60px 0;
}
.choose-leng span{
    color: grey;
}
.choose-leng i{
    color: grey;
}
/*  */

/* Hover */

.home a{
    padding: 20px 0;

}
.brd-black{
    padding: 20px 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0)
}
.brd-black:hover{
    border-bottom: 4px solid black;
    background-color: var(--lightgrey-color);

}